<header>
  <h1><%=image_tag "wallys_watches_store.png" %></h1>
  <strong>Wally's Watches is your source of wonderful watches</strong>
</header>
<body>
  <div class = "about">
  <h1>About Wally's Watches</h1>
  <p>
    Wally's Watches is a small business that has been selling watches for the past year. Our company is made up of only 25 employees that are split up into our 2 stores. We love to sell our unique watches to customers that would appreciate them.
  </p>
  </div>
</body>
<footer>
  <ul class = "links">
    <li><%=link_to 'Home Page', root_path%></li>
    <li><%=link_to 'About Page', about_path%></li>
    <li><%=link_to 'Contact Page', contact_path%></li>
  </ul>
</footer>

