<header>
  <h1><%=image_tag "wallys_watches.jpg" %></h1>
  <strong>Wally's Watches is your source of wonderful watches</strong>
</header>
<body>
  <p></p>
</body>
<footer>
  <ul class = "links">
    <li><%=link_to 'Home Page', root_path%></li>
    <li><%=link_to 'About Page', about_path%></li>
    <li><%=link_to 'Contact Page', contact_path%></li>
    
  </ul>
</footer>

