<header>
  <h1><%=image_tag "wallys_watches_store.png" %></h1>
  <strong>Wally's Watches is your source of wonderful watches</strong>
</header>
<body>
  <h1>Wally's Watches Contact Information</h1>
  <div class = "contact">
  <strong>Store Locations:</strong>
  <ul class = "first_store">
    <li>Wally's Watches</li>
    <li>123 West Street</li>
    <li>Winnipeg, Manitoba</li>
    <li>R5K 5K5</li>
    <li>204-123-1231</li>
  </ul>
  <ul class = "second_store">
    <li>Wally's Watches</li>
    <li>321 East Street</li>
    <li>Winnipeg, Manitoba</li>
    <li>R1J 1J1</li>
    <li>204-321-3213</li>
  </ul>
  <p><strong>Email Address:</strong>WallysWatches@Wonderfulwatches.com</p>
  </div>
</body>
<footer>
  <ul class = "links">
    <li><%=link_to 'Home Page', root_path%></li>
    <li><%=link_to 'About Page', about_path%></li>
    <li><%=link_to 'Contact Page', contact_path%></li>
  </ul>
</footer>

