<header>
  <h1><%=image_tag "wallys_watches_store.png" %></h1>
  <strong>Wally's Watches is your source of wonderful watches</strong>
</header>
<body>
  <h2>Product Categories</h2>
  <ul class = "categories">
    <li>Sports Watches</li>
    <li>Digital Watches</li>
    <li>Luxury Watches</li>
    <li>Special Design Watches</li>
  </ul>
</body>
<footer>
  <ul class = "links">
    <li><%=link_to 'Home Page', root_path%></li>
    <li><%=link_to 'About Page', about_path%></li>
    <li><%=link_to 'Contact Page', contact_path%></li>
  </ul>
</footer>


