<header>
  <%=image_tag "wallys_watches_store.png" %>
  <strong>Wally's Watches is your source of wonderful watches</strong>
</header>
<body>
  <h1>Products Found</h1>
  <div id = "products_found">
    <%=render @products %>
  </div>
</body>